<h1>Welcome, <%= @user.name %>!</h1>

<h2><%= @movie.title %></h2>

<%= button_to "Create Viewing Party for Movie", new_event_path, method: :get, params: {movie_id: @movie.id} %>

<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= format_runtime(@movie.runtime) %></p>

<% @movie.genres.each do |genre| %>
<p>Genre(s):<%= genre %></p>
<% end %>

<h4>Summary</h4>
<p><%= @movie.overview %></p>


<h2>Cast:</h2>
<% @cast.each do |actor| %>
<p><%= actor.name %> as <%= actor.character %></p>
<% end %>

<h2> <%= @reviews.count %> Review(s):</h2>
<% @reviews.each do |review| %>
<p><%= review.author %></p>
<p><%= review.content %></p>
<% end %>
